body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: contain;
	margin: 0px;
	font-family: "Microsoft YaHei", "MicrosoftYaHei", "微软雅黑", Arial, "Arial";
	font-size: 14px;
}
* {
	padding: 0px;
	margin: 0px;
}

/** Container **/
#container {
	background-image: url(./BG.png);
	width: 1024px;
	height: 768px;
	border: solid #000000 1px;
	overflow: hidden;
}

/** Headline **/
#headline {
	background-color: black;
	height: 60px;
	padding-left: 305px;
}
#headline span {
	width: 138px;
	height: 56px;
	font-size: 18px;
	color: #F4F4F4;
	transition: border 0.1s;
	display: flex;
    justify-content: center;
    text-align: center;
	float: left;
}
#headline span:hover {
	border-bottom: solid #F4F4F4 4px;
}
#headline span p {
	margin-top: 10px;
}

/** Content **/
#content {
	width: 1024px;
	height: 668px;
	overflow: hidden;
}

/** Home **/
#home_logo {
    text-align: center;
    margin-top: 260px;
}
#home_logo p {
	position: relative;
	color: #FFFFFF;
	font-size: 14px;
	left: 324px;
	width: 420px;
	letter-spacing: 44px;
}

/** Format simulator **/
#format {
	margin-top: 78px;
	margin-left: 88px;
	margin-right: 86px;
}
#leftBlock {
	width: 190px;
	float: left;
}
.leftBlockName {
	width: 190px;
	height: 30px;
	background-color: #383839;
}
.leftBlocknamePic {
	width: 56px;
	height: 30px;
	background-image: url('./leftBlockNamePicBackground.png');
	background-size: 56px 30px; 
}
.leftBlockNameText {
	float: right;
	margin-right: 51px;
	color: #F2FFFF;
	margin-top: 5px;
}
.leftBlockinfo {
	width: 161px;
	height: 52px;
	border: solid #F2FFFF 1px;
	background-color: #383839;
	margin-top: 11px;
	margin-bottom: 17px;
}
.leftBlockinfoData {
	width: 80px;
	padding-left: 6px;
	color: F2FFFF;
	font-size: 13px;
}

#centerBlock {
	margin-left: 19px;
	margin-right: 22px;
	width: 444px;
	float: left;
}
[id*="spot"] {
	width: 147px;
	height: 147px;
	background-color: #383839;
}
#centerBlock table {
	border-collapse: collapse;
}
#centerBlock table,#centerBlock th,#centerBlock td {
	border: solid 1px #F2FFFF;
}
#buffBar {
	width: 444px;
	height: 29px;
	background-image: url('./buffBar.png');
}
#timeBar {
	margin-top: 12px;
	color: #333333;
}
#timeAdj {
	margin-left:20px;
	margin-right: 13px;
	width: 359px;
	height: 18px;
	background-image: url('./timeAdjBar.png');
}

/** Footline **/
#footline {
	width: 1024px;
	background-color: black;
	height: 32px;
	text-align: center;
	font-size: 18px;
	color: #F4F4F4;
	padding-top: 8px;
	position: absolute;
}
#loading {
	float: right;
	height: 32px;
	position: relative;
}